body {
    background-color: rgb(48, 48, 54);
}
button, input[type="button"] {
    background-color: #bb8031;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

p {
    font-size: 16px;
    color: #000000;
    background-color: #000000;
    width: 400px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

body {
    color: #3498db;
}